.div-img{
 height: 440px;
 display: flex;
 align-items: center;
 justify-content: center;
}

.img-recipe{
    width: 390px;

}

.div-meal-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
}

.h2-recipe-title {
    font-weight: bold;
}

.h4-category-recipe{
    margin-left: 5px;
    color: rgb(192, 192, 192);;
    font-weight: bold;
}

.h3-ingredients{
    margin-left: 5px;
}

.h3-instructions{
    margin-left: 5px;
}

.p-instructions{
    margin-left: 8px;
    margin-right: 8px;
}

.video-instructions{
    height: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-recipe{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}



